<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/styles.min.css" />
    <link rel="icon" href="/img/favicon.png" />

    <title>Chat with Me</title>
  </head>
  <body>
    <div class="centered-form">
      <div class="centered-form__box">
        <h1>Join</h1>
        <form action="/chat">
          <label>Display Name</label>
          <input
            type="text"
            name="username"
            placeolder="Display name"
            required
          />
          <label>Room</label>
          <input type="text" name="room" placeholder="Room" required />

          <button>Join</button>
        </form>
      </div>
    </div>
  </body>
</html>
