<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/styles.min.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="centered-form">
      <div class="centered-form__box">
        <h1>Join</h1>
        <form action="/chat">
          <label>Username</label>
          <input
            type="text"
            name="username"
            placeholder="username"
            required
            autocomplete="off"
          />

          <label>Room</label>
          <input
            type="text"
            name="room"
            placeholder="Room"
            required
            autocomplete="off"
          />

          <button class="btn btn-outline-success">Join</button>
        </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="/js/chat.js"></script> -->
  </body>
</html>
