<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register To Chat</title>
  </head>
  <body>
    <div class="container">
      <form action="/index"></form>
    </div>
  </body>
</html>
