form {
  display: flex;
}
.container .message {
  display: inline-block;
  background-color: #1878f3;
  color: white;
  padding: 10px;
  border-radius: 20px 0px 20px 20px;
  text-align: right;
}

.newuser {
  display: inline-block;
  background-color: rgb(218, 216, 216);
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: left;
}

.chat {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.roomData {
  margin-top: 10px;
  padding-left: 0px;
}

.roomData .users {
  padding: 10px;
}
.roomData .users .user {
  font-size: 18px;
}
#messages {
  height: 500px;
  padding: 10px;
  overflow: scroll;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
#messages::-webkit-scrollbar {
  color: rgb(73, 243, 217);
}

.roomname {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid red;
  background-color: rgb(127, 127, 241);
  width: 100%;
  color: white;
}

.location-btn{
	margin-left: 91.2%;
	margin-top: 1%;
	font-size: 17px;
	width: 92px;
}