form {
  display: flex;
}
.container .message {
  display: block;
}

#messages {
  height: 300px;
  overflow: scroll;
  margin-bottom: 15px;
}

.roomname {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid red;
  background-color: rgb(127, 127, 241);
  width: 100%;
  color: white;
}
